<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Scorepad</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="style.css" text="text/css" media="all">

		<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	</head>

	<body>

		<header>
			<h2>Scorepad</h2>
			<img id = "suits" src="suits.png">
		</header>


	<div id="app" v-cloak>

		<div v-if="show_start_page" id="start_page">

			<div class="wrapper">
				<div id="my_buttons">
					<button id="continue">Continue</button>
					<button @click="new_game_onclick">New Game</button>
				</div>
			
			</div>

		</div>


		<div v-if="show_create_game_page" id="create_game_page">
			<div class="form_div">
				<div class="inner_form_div">
					<div class="row">
						<label for="game">What Game?</label>
						<input v-model="game_input" placeholder="Spades" type="text" id="game">
					</div>

					<div class="row">
						<label for="players">How many players?</label>
						<input v-model="players_input" placeholder="2" type="text" id="players">
					</div>
					<div class="row">
						<label for="rounds">How many rounds?</label> 
						<input v-model="rounds_input" placeholder="16" type="text" name="rounds" id="rounds_input">
					</div>

					<div class="error_message" v-if="!game_is_valid">
						<h4>{{ invalid_message }}</h4>
					</div>
					

					<div class="row">
						<label for="rounds">unlimited<input v-model="unlimited_check_box" type="checkbox" id="rounds" name="rounds" value="unlimited"><span class="radio" id="rounds_radio"><div></div></span>
						</label>
					</div>

					<div id="choose_winner_div">
						<label>Who wins?</label>
						<div class="radios">
							<label for="highest">Highest Score<input v-model="highest_score" type="radio" id="highest" name="game_type" value="highest"><span class="radio" id="high_radio"><div></div></span>
							</label>
						</div>
						<div class="radios">
							<label for="lowest">Lowest Score<input v-model="highest_score" type="radio" id="lowest" name="game_type" value="lowest"><span id="low_radio" class="radio"><div></div></span>
							</label>
						</div>			
					</div>
					

				</div>
				<button  @click="create_game_onclick" id="create_game">Create Game</button>
			</div>
		</div>

		<div v-if="show_create_players_page" id="create_players">
			<div  class = "form_div" >
			<div class="inner_form_div">
				<div v-for="i in Number(players_input)">

					<div class="row">
						<label for="game">Player: {{ i }}</label>
						<input type="text" v-model = "players[i-1]">
					</div>	


				</div>

				<button @click="start_game_onclick" id="start_game">Start Game</button>

			</div>
			</div>

		</div>


		<div v-if="show_grid_page" id="grid">
			<div class="form_div">
				<h3> {{ game_input }} </h3>
				<table>

					<th v-for="player in player_objects">{{ player.name }} </th>

					<!-- Scores -->
					<tr v-for="i in scores.length">
						<td v-for="player in player_objects">
							{{ player.score[i-1] }}
						</td>
					</tr>
					<!-- Totals -->
					<tr >
						<td class="totals" v-for="(player, index) in player_objects">
							{{ totals[index] }}
						</td>
					</tr>


				</table>
				<div class="inner_form_div">
				<div v-if="show_add_scores_page" v-for="(player, index) in player_objects">
						
						<div class="row">
							<label>{{ player.name }}</label>
							<input type="text" v-model="this_row_of_scores[index]">
						</div>

					</div>
					<button @click="add_scores_onclick">Add Scores</button>
			
				</div>
				</div>



		</div>

	</div>

		<script src="vue.js"></script>
		<script src="scorepad.js" type="module"></script>
	</body>

</html>